---
import { Image } from "astro:assets";
import heroImage from '../../../assets/photos/hero2.webp';
---

<div class="main-container">
  <Image src={heroImage} alt="" class="hero-image" />

  <div class="gradient" />

  <div class="h-full mx-auto px-4 xs:px-8 max-w-(--breakpoint-md)">
    <div class="relative w-full h-full">
      <div class="blurb">
        <h1>Strong Provo,<br>strong future.</h1>
        <a 
          class="action-button"
          href="/issues"
        >
          Learn More&#x2000;&#x2192;
        </a>
      </div>
    </div>
  </div>
</div>

<style>
  @reference "../../../styles/global.css";

  .main-container {
    height: clamp(30rem, 50vw, 45rem);
    @apply relative w-full;
  }

  .hero-image {
    @apply absolute w-full h-full -z-10;
    @apply object-cover;
  }

  .gradient {
    @apply absolute w-full h-full -z-9;
    @apply bg-linear-to-b from-black/0 via-black/0 via-50% to-black/30;
  }

  .blurb {
    @apply absolute bottom-8 w-full;
    @apply flex flex-col items-start gap-7 xs:gap-8;
  }

  .blurb h1 {
    @apply text-[2.125em] xs:text-[2.25em] md:text-[2.4em];
    @apply leading-snug font-bold text-white;
  }

  .action-button {
    @apply px-8 py-3 flex items-center justify-center; 
    @apply rounded-xl text-[1.125rem] font-semibold;
    @apply bg-theme-primary text-white hover:text-white/60 transition;
  }
</style>
