---
import { Image } from "astro:assets";
import bgImage from '../../../assets/photos/hero-banner-bg.webp';
import portraitImage from '../../../assets/photos/hero-banner-portrait.webp';
---

<div class="main-container">
  <Image src={bgImage} alt="" class="bg-image" />
  <Image src={portraitImage} alt="" class="portrait-image-full" />

  <div class="gradient" />

  <div class="h-full mx-auto px-4 xs:px-8 max-w-[60rem]">
    <div class="relative w-full h-full">
      <div class="blurb">
        <h1>Strong Provo.<br>Strong future.</h1>
        <a 
          class="action-button"
          href="/issues"
        >
          Learn More&#x2000;&#x2192;
        </a>
      </div>
    </div>
  </div>
</div>

<style>
  @reference "../../../styles/global.css";

  .main-container {
    height: clamp(30rem, calc(19rem + 50vw), 40rem);
    @apply relative w-full;
  }

  .bg-image {
    @apply absolute w-full h-full -z-10;
    @apply object-cover;
  }

  .portrait-image-full {
    @apply absolute -z-9;
    @apply w-full h-full;
    @apply object-cover;
    object-position: 50% 25%;
  }

  .gradient {
    @apply absolute w-full h-full -z-9;
    @apply bg-linear-to-b from-black/0 via-black/0 via-50% to-black/50;
  }

  .blurb {
    @apply text-content-base md:text-content-lg;
    @apply absolute bottom-6 w-full;
    @apply flex flex-col items-start gap-7 xs:gap-8;
    filter: drop-shadow(0 0.2rem 0.3rem rgb(0 0 0 / 0.4));
  }

  .blurb h1 {
    @apply text-[2.125em] xs:text-[2.25em] md:text-[2.3em];
    @apply leading-snug font-bold text-white;
  }

  .action-button {
    @apply h-12 px-8 flex items-center justify-center; 
    @apply rounded-xl text-[1em] font-semibold;
    @apply bg-theme-primary text-white hover:text-white/60 transition;
  }
</style>
