---
import { Image } from "astro:assets";
import LogoBanner from "./HomeLogoBanner.astro";
import ContentText from "../../../components/ContentText.astro";

import { Content } from "../../../content/home-overview.md";
---

<section id="home-overview">
  <LogoBanner />

  <div class="h-6" />

  <ContentText>
    <Content />
  </ContentText>
</section>
