@import './global.css';

@layer components {

  /* General */

  .content-text {
    @apply leading-relaxed text-content-primary;
    @apply mb-[4em];

    --text-size: var(--text-content-base);
    --paragraph-spacing: calc(var(--text-size) * 1.25);
    --gutter-width: 1rem;

    font-size: var(--text-size);
  }
  
  @media (min-width: theme('screens.xs')) {
    .content-text {
      --gutter-width: 2rem;
    }
  }

  @media (min-width: theme('screens.md')) {
    .content-text {
      --text-size: var(--text-content-lg);
    }
  }

  .content-text > * {
    @apply mx-auto px-(--gutter-width) w-full max-w-(--breakpoint-md);
  }

  /* Heading */

  .content-text :is(h1, h2, h3, h4, h5, h6) {
    @apply font-bold leading-snug;
    margin-bottom: var(--paragraph-spacing);
    scroll-margin-top: calc(var(--text-size) * 2.0);
  }

  .content-text :is(h1, h2, h3, h4, h5, h6):first-child {
    margin-top: calc(var(--text-size) * 2.5);
  }

  .content-text :is(h1, h2, h3, h4, h5, h6) + :is(h1, h2, h3, h4, h5, h6) {
    margin-top: var(--paragraph-spacing);
  }

  .content-text h1 {
    @apply text-[2.125em];
    margin-top: calc(var(--text-size) * 4.0);
  }

  .content-text h2 {
    @apply text-[1.625em];
    margin-top: calc(var(--text-size) * 4.0);
  }

  .content-text h3 {
    @apply text-[1.125em];
    margin-top: calc(var(--text-size) * 2.5);
  }

  /* Text */

  .content-text p {
    margin-top: var(--paragraph-spacing);
    margin-bottom: var(--paragraph-spacing);
  }

  /* List */

  .content-text ul { @apply list-disc; }
  .content-text ol { @apply list-decimal; }

  .content-text ul, .content-text ol {
    @apply my-[1em];
    padding-left: calc(var(--gutter-width) + 1.5em);
  }

  .content-text li {
    @apply my-[0.5em];
  }

  /* Image */

  /* .content-text p:has(img:only-child) {
    @apply mx-auto px-0 xs:px-(--gutter-width);
  } */

  .content-text img {
    @apply w-full object-cover my-[1.75em];
  }

  /* Link */
  .content-text a {
    @apply text-sky-500 hover:underline;
  }

}