@import "tailwindcss";

:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

/* Theme */

@theme {
  --breakpoint-xs: 30rem;

  --color-content-text: var(--color-gray-700);
}

/* Content Text */

.content-text {
  @apply leading-relaxed;
  @apply text-content-text;

  @apply mb-[4em];
}

.content-text :is(h1, h2, h3, h4, h5, h6) {
  @apply font-bold;
  @apply leading-snug;
}

.content-text :is(h1, h2, h3, h4, h5, h6):first-child {
  @apply mt-0;
}

.content-text :is(h1, h2, h3, h4, h5, h6) + :is(h1, h2, h3, h4, h5, h6) {
  @apply mt-0;
}

.content-text h1 {
  @apply text-[2em];
  @apply mt-[2em] mb-[0.75em];
}

.content-text h2 {
  @apply text-[1.5em];
  @apply mt-[2em] mb-[0.75em];
}

.content-text h3 {
  @apply text-[1.25em];
  @apply mt-[1.5em] mb-[0.75em];
}

.content-text p {
  @apply my-[1em];
}

.content-text a {
  @apply text-sky-500 hover:underline;
}

.content-text ul {
  @apply list-disc;
  @apply ps-[1.5em] my-[1em];
}

.content-text ol {
  @apply list-decimal;
  @apply ps-[1.5em] my-[1em];
}

.content-text li {
  @apply my-[0.5em];
}

.content-text img {
  @apply w-full object-cover;
  @apply my-[1.5em];
  @apply aspect-[2/1];
}
