@import 'tailwindcss';

/* Fonts */

:root { 
  font-family: 'Inter', sans-serif; 
  font-feature-settings: 'calt' 0;
}
@supports (font-variation-settings: normal) {
  :root { font-family: 'InterVariable', sans-serif; }
}

/* Theme Variables */

@theme {
  --breakpoint-xs: 30rem;
  --breakpoint-mdl: 60rem;

  --color-theme-crimson: #be2846;
  --color-theme-crimson-dark: #780a32;
  --color-content-primary: var(--color-gray-700);

  --text-content-base: 1rem;
  --text-content-lg: 1.0625rem;
}
