---
import { Image } from "astro:assets";
import FixedImageBackgroundSection from "../../FixedImageBackgroundSection.astro";
import bgImage from "../../../assets/photos/home-mtn.webp"
import logoImage from "../../../assets/logo/logo-wide-white.svg";
---

<FixedImageBackgroundSection backgroundImage={bgImage.src}>
  <h1 class="text-white text-4xl md:text-6xl font-bold drop-shadow-lg mb-4">
    Welcome to Provo
  </h1>
  <p class="text-white text-lg md:text-2xl drop-shadow-md max-w-2xl">
    Building a stronger, more transparent city—together.
  </p>
</BackgroundSection>
