
<form action="https://gmail.us16.list-manage.com/subscribe/post" method="POST" class="w-full">
  <input type="hidden" name="u" value="0b79c41ed3f18cf04feb9edc9">
  <input type="hidden" name="id" value="5840a21eca">

  <div class="container-div">
      <input 
        class="email-address-input"
        type="email" 
        name="MERGE0" 
        id="MERGE0" 
        placeholder="Email Address" 
        autocapitalize="off" 
        autocorrect="off"
        required
      >
      <button 
        class="submit-button"
        type="submit" 
      >
          Sign Up
      </button>
  </div>
</form>

<style>
  @reference "../../../styles/global.css";

  .container-div {
    @apply flex flex-col xs:flex-row gap-3;
  }

  .email-address-input {
    @apply h-12 px-4 flex-auto;
    @apply bg-white border-1 border-gray-400/60 rounded-xl;
    @apply placeholder-gray-400;
    @apply focus:outline-none focus:ring-3 focus:ring-blue-400 transition;
  }

  .submit-button {
    @apply h-12 px-8;
    @apply rounded-xl text-white font-semibold;
    @apply bg-theme-primary hover:text-white/80 transition;
    @apply cursor-pointer;
  }
</style>