---
import ContentColumnContainer from "../../ContentColumnContainer.astro";
import MailingListSignupBlock from "./HomeMailingListSignupBlock.astro";
import SocialLinksBlock from "./HomeSocialLinksBlock.astro";
---

<div class="block">
  <ContentColumnContainer>
    <h1>Follow the campaign!</h1>
    <h2>Be the first to hear about news, updates, and events.</h2>
    <MailingListSignupBlock />

  </ContentColumnContainer>
</div>

<style>
  @reference "../../../styles/global.css";

  .block {
    @apply w-full pt-10 pb-14 bg-gray-200;
    @apply text-content-base md:text-content-lg;
  }

  h1 {
    @apply mb-2.5;
    @apply text-[1.5em] font-bold leading-snug text-gray-700;
  }

  h2 {
    @apply mb-6;
    @apply text-gray-500;
  }
</style>
