---
import ContentColumnContainer from "../../ContentColumnContainer.astro";
import MailingListSignupBlock from "./HomeMailingListSignupBlock.astro";
import SocialLinksBlock from "./HomeSocialLinksBlock.astro";
---

<div class="block">
  <ContentColumnContainer>
    <h2>Sign up for updates</h2>
    <MailingListSignupBlock />

    <div class="h-10"/>

    <h2>Connect on social media</h2>
    <SocialLinksBlock />

  </ContentColumnContainer>
</div>

<style>
  @reference "../../../styles/global.css";

  .block {
    @apply w-full pt-10 pb-14 bg-gray-200;
    @apply text-content-base md:text-content-lg;
  }

  h1 {
    @apply mb-8;
    @apply text-[1.5em] font-bold leading-snug text-gray-700;
  }

  h2 {
    @apply mb-3;
    @apply text-[1.25em] font-semibold text-gray-600;
  }
</style>
