
<form action="https://gmail.us16.list-manage.com/subscribe/post" method="POST" class="w-full">
  <input type="hidden" name="u" value="0b79c41ed3f18cf04feb9edc9">
  <input type="hidden" name="id" value="5840a21eca">

  <div class="container-div">
      <input 
        class="email-address-input"
        type="email" 
        name="MERGE0" 
        id="MERGE0" 
        placeholder="Email Address" 
        autocapitalize="off" 
        autocorrect="off"
        required
      >
      <button 
        class="submit-button"
        type="submit" 
      >
          Sign Up
      </button>
  </div>
</form>

<style>
  @reference "../../../styles/global.css";

  .container-div {
    @apply flex flex-col xs:flex-row gap-2;
  }

  .email-address-input {
    @apply h-12 px-4 py-2;
    @apply flex-auto;
    @apply bg-white border-2 border-gray-400/60 rounded-md;
    @apply placeholder-gray-400;
    @apply focus:outline-none focus:ring-2 focus:ring-blue-400;

  }

  .submit-button {
    @apply h-12 px-6 py-2;
    @apply text-white font-semibold rounded-md;
    @apply bg-blue-600 hover:bg-blue-500;
    @apply cursor-pointer;
  }
</style>