---
import MainLayout from "../layouts/MainLayout.astro";
import ContentText from "../components/ContentText.astro";
---

<MainLayout title="Get Involved">

  <ContentText>
    <h1>Donate</h1>

    <p>Thanks for your support!</p>

  </ContentText>

</MainLayout>