---
import MainLayout from "../layouts/MainLayout.astro";
import ContentText from "../components/ContentText.astro";
import DonateButtons from "../components/DonateButtons.astro";
---

<MainLayout title="Donate">

  <ContentText>
    <h1>Donate to the Campaign</h1>

    <p>Your support helps build a stronger future for Provo. Thank you!</p>

    <div class="my-8">
      <DonateButtons />
    </div>

  </ContentText>

</MainLayout>