---
import MainLayout from "../layouts/MainLayout.astro";
import ContentText from "../components/ContentText.astro";
import DonateButtons from "../components/DonateButtons.astro";
---

<MainLayout title="Donate">

  <ContentText>
    <h1>Donate to Adam's Campaign</h1>

    <p>Every dollar counts in local elections. Your donation helps pay for signs, print materials, and other resources to get the word out.</p>

    <p>Thank you for your support!<p>

    <div class="my-8">
      <DonateButtons />
    </div>

  </ContentText>

</MainLayout>