---
import MainLayout from "../layouts/MainLayout.astro";
import ContentText from "../components/ContentText.astro";

import { Content } from "../content/get-involved.mdx";
---

<MainLayout title="Get Involved">

  <ContentText>
    <Content />
    
    <div class="mt-8">
      <a 
        href="https://forms.gle/5LxHtN2vhV9NPpht8"
        class="
          w-auto px-8 py-3 inline-flex items-center justify-center
          rounded-xl font-semibold
          bg-theme-primary text-white hover:text-white/60 hover:no-underline transition
        "
      >
        Sign Up to Volunteer&#x2000;&#x2192;
      </a>
    </div>

  </ContentText>

</MainLayout>
