---
import MainLayout from "../layouts/MainLayout.astro";
import ContentText from "../components/ContentText.astro";
---

<MainLayout title="Get Involved">

  <ContentText>
    <h1>Get Involved</h1>
    <p>Coming soon</p>
  </ContentText>

</MainLayout>
