---
import MainLayout from "../layouts/MainLayout.astro";
import ContentHeader from "../components/ContentHeader.astro"
import ContentText from "../components/ContentText.astro";
---
<MainLayout title="">
  
  <ContentHeader title="Home" />

  <ContentText>
    <h2>Coming soon</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </ContentText>

</MainLayout>