---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Home">
  <div class="prose">
    <h1>Welcome to My Campaign</h1>
    <p>This is my page!</p>
    <h2>Second heading</h2>
    Just text it'"''""s by itself.
  </div>
</MainLayout>