---
import MainLayout from "../layouts/MainLayout.astro";
import HeroBanner from "../components/home/HomeHeroBanner.astro";
import ConnectBlock from "../components/home/connect/HomeConnectBlock.astro";
import ContentText from "../components/ContentText.astro";
---
<MainLayout title="">

  <HeroBanner />

  <ConnectBlock />

  <ContentText>
    <h2>Header</h2>
    <p>Coming soon</p>
  </ContentText>

</MainLayout>