---
import { Image } from "astro:assets";
import menuOpenIcon from '../../assets/ui/nav-menu-open.svg';
import NavbarMenu from './NavbarMenu.astro';

const links = [
  { href: "/about", text: "About" },
  { href: "/issues", text: "Issues" },
  { href: "/get-involved", text: "Get Involved" },
  { href: "/contact", text: "Contact" },
];
---

<header class="navbar">
  <div class="navbar-column-container">
    <div class="navbar-container">
      <a href="/" class="navbar-logo">Adam Shin for Provo</a>

      <nav class="navbar-links">
        {links.map(link => (
          <a href={link.href} class="navbar-links-item">{link.text}</a>
        ))}
      </nav>

      <button id="navbar-menu-button" class="navbar-menu-button">
        <Image src={menuOpenIcon} alt="" class="navbar-button-img size-6">
      </button>
    </div>
  </div>
  <NavbarMenu />
</header>

<style>
  @reference "../../styles/global.css";

  @theme {
    --breakpoint-navbar-break: 48rem;
  }

  .navbar {
    --max-width: 60rem;
    --link-padding: 1rem;
    @apply w-full h-14 navbar-break:h-16;
    @apply bg-theme-primary;
  }

  .navbar-column-container {
    @apply h-full mx-auto ps-4 xs:ps-8 navbar-break:px-8 max-w-(--max-width);
  }

  .navbar-container {
    @apply h-full flex items-center justify-between overflow-hidden;
  }

  .navbar-logo {
    @apply h-full flex items-center whitespace-nowrap overflow-hidden;
    @apply font-medium text-white;
    @apply text-[1.25rem] navbar-break:text-[1.375rem];
    -webkit-user-select: none;
    user-select: none;
  }

  .navbar-links {
    @apply h-full hidden navbar-break:flex -me-(--link-padding);
  }

  .navbar-links-item {
    @apply h-full flex items-center px-(--link-padding);
    @apply text-[1.0625rem] font-medium;
    @apply text-white hover:text-white/60;
  }

  .navbar-menu-button {
    @apply h-full w-14;
    @apply flex items-center justify-center;
    @apply cursor-pointer;
    @apply navbar-break:hidden;
  }

  .navbar-button-img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const menuButton = document.getElementById("navbar-menu-button");
    menuButton?.addEventListener("click", () => {
      document.dispatchEvent(new CustomEvent("NavbarMenuOpen"));
    });
  });
</script>