---
import { Image } from "astro:assets";
import navLogo from '../../assets/ui/nav-logo.svg';
import menuOpenIcon from '../../assets/ui/nav-menu-open.svg';
import menuOpenIconWhite from '../../assets/ui/nav-menu-open-white.svg';
import NavbarMenu from './NavbarMenu.astro';

const { transparent = false } = Astro.props;

const links = [
  { href: "/about", text: "About Adam" },
  { href: "/issues", text: "Issues" },
  { href: "/get-involved", text: "Get Involved" },
  { href: "/contact", text: "Contact" },
];
---

<header class={`navbar ${transparent ? "navbar-transparent" : ""}`}>
  <div class="navbar-column-container">
    <div class="navbar-container">
      <a href="/" class="h-full flex items-center">
        <Image
          src={navLogo}
          alt="Adam Shin for Provo"
          class="navbar-logo"
        >
      </a>

      <nav class="navbar-links">
        {links.map(link => (
          <a href={link.href} class="navbar-links-item">{link.text}</a>
        ))}
      </nav>

      <button id="navbar-menu-button" class="navbar-menu-button">
        <Image 
          src={transparent ? menuOpenIconWhite : menuOpenIcon}
          alt="" 
          class="navbar-button-img"
        >
      </button>
    </div>
  </div>
  <NavbarMenu />
</header>

<style>
  @reference "../../styles/global.css";

  @theme {
    --breakpoint-navbar-break: 52rem;
  }

  .navbar {
    --max-width: 60rem;
    --link-padding: 1rem;

    @apply w-full h-16 navbar-break:h-20;
    @apply bg-white z-100;

    box-shadow: 0 -13px 15px 20px rgb(0 0 0 / 0.1), 0 -20px 6px 20px rgb(0 0 0 / 0.1);
  }

  .navbar-transparent {
    @apply absolute top-0 left-0 right-0;
    @apply bg-transparent;
    box-shadow: 0 0 #0000;
  }

  .navbar-column-container {
    @apply h-full mx-auto ps-4 navbar-break:px-8 max-w-(--max-width);
  }

  .navbar-container {
    @apply h-full flex items-center justify-between overflow-hidden;
  }

  .navbar-logo {
    @apply h-12 navbar-break:h-15;
    @apply w-auto;
  }

  .navbar-links {
    @apply h-full hidden navbar-break:flex -me-(--link-padding);
  }

  .navbar-links-item {
    @apply h-full flex items-center px-(--link-padding);
    @apply text-[1.0625rem] font-medium;
    @apply text-content-primary hover:text-theme-primary;
  }

  .navbar-transparent .navbar-links-item {
    @apply text-white hover:text-white/80;
  }

  .navbar-menu-button {
    @apply h-full w-16;
    @apply flex items-center justify-center;
    @apply cursor-pointer;
    @apply navbar-break:hidden;
  }

  .navbar-button-img {
    @apply size-7 opacity-60;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const menuButton = document.getElementById("navbar-menu-button");
    menuButton?.addEventListener("click", () => {
      document.dispatchEvent(new CustomEvent("NavbarMenuOpen"));
    });
  });
</script>