---
import menuCloseIcon from '../../assets/nav-menu-close.svg';

const links = [
  { href: "/about", text: "About" },
  { href: "/issues", text: "Issues" },
  { href: "/donate", text: "Donate" },
  { href: "/contact", text: "Contact" },
];
---

<div id="navbar-menu" class="navbar-menu">
  <div id="navbar-menu-curtain" class="navbar-menu-curtain"/>

  <div class="navbar-menu-contents">
    <button id="navbar-menu-close-button" class="navbar-menu-close-button">
      <img src={menuCloseIcon.src} class="button-img size-6">
    </button>

    <nav class="navbar-menu-list">
      {links.map(link => (
        <a href={link.href} class="navbar-menu-list-item">{link.text}</a>
      ))}
    </nav>
  </div>
</div>

<style>
  @reference "../../styles/global.css";

  /* Menu */
  .navbar-menu {
    @apply fixed w-screen h-screen inset-0;
  }

  .navbar-menu-open {
    @apply visible;
  }

  .navbar-menu-closed {
    @apply invisible;
  }

  /* Curtain */

  .navbar-menu-curtain {
    @apply absolute size-full inset-0;
    @apply bg-white;
  }

  .navbar-menu-curtain-open { }

  .navbar-menu-curtain-closed {
    @apply h-14;
  }

  /* Contents */

  .navbar-menu-contents {
    @apply absolute inset-0 overflow-y-auto;
  }

  .navbar-menu-list {
    @apply w-full py-16 flex flex-col items-start;
  }

  .navbar-menu-list-item {
    @apply text-[1.75rem] font-semibold text-content-text w-full px-12 py-2;
  }

  .navbar-menu-close-button {
    @apply absolute top-0 right-0 size-14 opacity-75;
    @apply flex items-center justify-center;
    @apply cursor-pointer;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const menu = document.getElementById("navbar-menu");
    const curtain = document.getElementById("navbar-menu-curtain");
    const closeButton = document.getElementById("navbar-menu-close-button");

    function disableBackgroundScroll() {
      document.documentElement.style.overflow = "hidden";
      document.body.style.overflow = "hidden";
    }

    function enableBackgroundScroll() {
      document.documentElement.style.overflow = "";
      document.body.style.overflow = "";
    }

    function closeMenu() {
      enableBackgroundScroll();

      menu?.classList.remove("navbar-menu-open");
      curtain?.classList.remove("navbar-menu-curtain-open");

      menu?.classList.add("navbar-menu-closed");
      curtain?.classList.add("navbar-menu-curtain-closed");
    }

    function openMenuAnimated() {
      disableBackgroundScroll();

      menu?.classList.remove("navbar-menu-closed");
      curtain?.classList.remove("navbar-menu-curtain-closed");

      menu?.classList.add("navbar-menu-open");
      curtain?.classList.add("navbar-menu-curtain-open");
    }

    function closeMenuAnimated() {
      enableBackgroundScroll();

      menu?.classList.remove("navbar-menu-open");
      curtain?.classList.remove("navbar-menu-curtain-open");

      menu?.classList.add("navbar-menu-closed");
      curtain?.classList.add("navbar-menu-curtain-closed");
    }

    closeMenu();

    window.addEventListener("pageshow", () => {
      closeMenu();
    });
    document.addEventListener("NavbarMenuOpen", () => {
      openMenuAnimated();
    });
    closeButton?.addEventListener("click", () => {
      closeMenuAnimated();
    });
  });
</script>