---
const { title } = Astro.props;
import ContentColumnContainer from "./ContentColumnContainer.astro";
---
<ContentColumnContainer>
  <header class="mt-10 mb-10">
    <h1 class="text-4xl font-bold text-content-text">
      {title}
    </h1>
  </header>
</ContentColumnContainer>
