---
const { title } = Astro.props;
import ContentContainer from "./ContentContainer.astro";
---
<ContentContainer>
  <header>
    <h1 class="text-4xl font-bold py-6">
      {title}
    </h1>
  </header>
</ContentContainer>
