---
import { Image } from "astro:assets";
const { backgroundImage } = Astro.props;
---

<div class="relative overflow-hidden">
  <div
    class="absolute inset-0 -z-2 bg-fixed bg-cover bg-center"
    style={`background-image: url('${backgroundImage.src}');`}
  ></div>

  <div class="absolute inset-0 -z-1 bg-zinc-900 opacity-85"></div>

  <slot />
</div>