---
import { Image } from "astro:assets";
const { backgroundImage } = Astro.props;
---

<div class="relative overflow-hidden">
  <!-- Background Image -->
  <div
    class="absolute inset-0 bg-fixed bg-center bg-cover"
    style={`background-image: url('${backgroundImage}')`}
    aria-hidden="true"
  >
    <!-- Overlay -->
    <div class="absolute inset-0 bg-black/60" />
  </div>

  <!-- Slotted Content -->
  <slot />
</div>