---
const links = [
  { href: "/issues", text: "About" },
  { href: "/issues", text: "Issues" },
  { href: "/issues", text: "Donate" },
  { href: "/issues", text: "Contact" },
];
---

<header class="navbar">
  <div class="content-column-container">
    <div class="navbar-container">
      <a href="/" class="navbar-logo">Adam Shin for Provo</a>

      <nav class="navbar-links">
        {links.map(link => (
          <a href={link.href} class="nav-item">{link.text}</a>
        ))}
      </nav>

      <button class="hamburger-button">
        <svg class="size-6 text-content-text" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <line x1="4" y1="6" x2="20" y2="6"></line>
          <line x1="4" y1="12" x2="20" y2="12"></line>
          <line x1="4" y1="18" x2="20" y2="18"></line>
        </svg>
      </button>
    </div>
  </div>
</header>

<style>
  @reference "../styles/global.css";

  @theme {
    --breakpoint-navbar-break: 48rem;
  }

  .content-column-container {
    @apply h-full mx-auto px-4 navbar-break:px-8 max-w-(--breakpoint-md);
  }

  .navbar {
    --link-padding: 1rem;

    @apply w-full h-14 navbar-break:h-16;
    @apply bg-white shadow-lg;
  }

  .navbar-container {
    @apply h-full;
    @apply flex items-center justify-between overflow-hidden;
  }

  .navbar-logo {
    @apply h-full flex items-center;
    @apply text-xl navbar-break:text-2xl;
    @apply font-bold text-content-text whitespace-nowrap overflow-hidden;
  }

  .navbar-links {
    @apply h-full;
    @apply hidden navbar-break:flex;
    @apply -me-[var(--link-padding)];
  }

  .nav-item {
    @apply h-full flex items-center px-[var(--link-padding)];
    @apply text-base font-medium text-content-text hover:text-sky-500;
  }

  .hamburger-button {
    @apply h-full px-4 -me-4;
    @apply navbar-break:hidden;
  }

</style>
