---
import "../styles/global.css";
import Navbar from "../components/navbar/Navbar.astro";
// import Footer from "../components/Footer.astro";

const { title: contentTitle } = Astro.props;
const siteTitle = "Adam Shin for Provo";
const pageTitle = contentTitle ? `${contentTitle} - ${siteTitle}` : siteTitle;
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <title>{pageTitle}</title>
</head>

<body class="bg-white overflow-x-hidden">
  <Navbar />
  
  <main>
    <slot />
  </main>
  
  <!-- <Footer /> -->
</body>

</html>