---
import "../styles/global.css";

import Navbar from "../components/navbar/Navbar.astro";
import Footer from "../components/Footer.astro";

const { title: contentTitle, navbarTransparent = false } = Astro.props;
const siteTitle = "Adam Shin for Provo";
const pageTitle = contentTitle ? `${contentTitle} - ${siteTitle}` : siteTitle;
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

  <link rel="preconnect" href="https://rsms.me/">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

  <title>{pageTitle}</title>
</head>

<body>
  <Navbar transparent={navbarTransparent}/>
  <main><slot /></main>
  <Footer />
</body>

</html>

<style>
  @reference "../styles/global.css";

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply min-h-screen min-w-2xs;
    @apply bg-white;
    @apply flex flex-col;
  }
  main {
    @apply flex-1;
  }
</style>